@model DAL_ACCOUNTING.Models.Journal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Journal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JrnlType" class="control-label"></label>
                <input asp-for="JrnlType" class="form-control" />
                <span asp-validation-for="JrnlType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransNum" class="control-label"></label>
                <input asp-for="TransNum" class="form-control" />
                <span asp-validation-for="TransNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dc" class="control-label"></label>
                <input asp-for="Dc" class="form-control" />
                <span asp-validation-for="Dc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posted" class="control-label"></label>
                <input asp-for="Posted" class="form-control" />
                <span asp-validation-for="Posted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransDate" class="control-label"></label>
                <input asp-for="TransDate" class="form-control" />
                <span asp-validation-for="TransDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
